.buyingCardContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buyingCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 70%;
  height: 60%;
}
