.buyingCardContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buyingCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 75%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  gap: 1rem;
}
.buyingCard h1 {
  font-size: 1.8ch;
}
.buyingCard div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  width: 50%;
  height: 60%;
  background-color: #f0f0f0da;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.price {
  width: 50%;
  height: 50%;
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 0.5rem;
}
.price h1 {
  width: 100%;
  height: 2rem;
  font-size: 2ch;
  font-weight: 400;
  text-align: center;
  background-color: white;
}
.price div {
  width: 100%;
  height: 100%;
  justify-content: center;

  gap: 1rem;
}
