.buyingCardContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  height: 600px;
  width: 300px;
}
.buyingCard {
  box-shadow: rgba(0, 0, 0, 0) 0px 2px 2px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
  width: 75%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  gap: 1rem;
}
.buyingCard h1 {
  font-size: 1.3ch;
}
.buyingCard div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  width: 60%;
  height: 60%;
  margin-top: 20px;
  background-color: #f0f0f0da;
  box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.price{
  color: rgb(231, 231, 10);
}