.creditCardContainer {
  border-right: 1px solid black;
  border-left: 1px solid black;
  flex: 1.6;
  display: flex;

  justify-content: center;
}
.creditCardForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 82%;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.creditCardHeader {
  display: flex;
  border-top: 2px solid #00a86b;
  background-color: #f0f0f0;
}
.creditCardHeader button {
  height: 3rem;
  width: 10rem;
  cursor: pointer;
}
.creditCardHeader button:focus {
  border-bottom: 3px solid orange;
}
.formContent {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.formContent label {
  font-size: 0.7rem;
}

.creditCardForm fieldset {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.creditCardForm input {
  padding: 0.7rem;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 4px;
}
.dateCVV {
  display: flex;
  align-self: center;
}
.dateCVV input {
  width: 90%;
 
}
.dateCVV input::-webkit-calendar-picker-indicator {
  display: none;
}
.priceCard {
  width: 10rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.termsBox {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  background-color: #ffe6e9;
}
.termsBox button {
  height: 1rem;
  width: 1rem;
  border: 1px solid #000;
  margin: 0 0.5rem 0 1rem;
}
.termsBox a {
  text-decoration: underline;
}
.formContent button:last-child {
  width: 100%;
  height: 2rem;
  background-color: #ffbf92;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
