.creditCardContainer {
 
  flex: 1.6;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.creditCardForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 82%;
  margin-top: 3rem;
  border-top: 50px solid rgba(149, 158, 158, 0.582);
  border-bottom: 20px solid rgba(149, 158, 158, 0.527);
  border-bottom-width: 10px;
  border-top-width: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.199);
}
.creditCardHeader {
  display: flex;
  border-top: 2px solid #00a86b;
  background-color: #f0f0f0;
}
.creditCardHeader button {
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* .creditCardHeader button:focus {
  border-bottom: 3px solid orange;
} */
.formContent {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.formContent label {
  font-size: 0.7rem;
}

.creditCardForm fieldset {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.creditCardForm input {
  padding: 0.7rem;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.dateCPF {
  display: flex;
  align-self: center;
  width: 100%;
}
.dateCPF input {
  width: 50%;
  position: relative;
  margin-top: 20px;
  margin-left: -25px;
}
.dateCPF input:last-child {
  width: 40%;
}
.dateCPF input::-webkit-calendar-picker-indicator {
  display: none;
}
.dateCPF div span {
  top: 0.4rem;
  left: 1rem;
}

.dateCVV {
  display: flex;
  align-self: center;
  width: 100%;
}
.dateCVV input {
  width: 80%;
  position: relative;
}
.dateCVV input:last-child {
  width: 90%;
}
.dateCVV input::-webkit-calendar-picker-indicator {
  display: none;
}
.dateCVV div span {
  top: 0.4rem;
  left: 1rem;
}

.dateNumber {
  display: flex;
  align-self: center;
  margin-left: 200px;
  margin-top: -73px;
}

.dateNumber input {
  width: 50%;
  position: relative;
  margin-top: 20px;
  margin-left: -25px;
}
.dateNumberinput {
  width: 50%;
  position: relative;
}

.dateNumber input:last-child {
  width: 100%;
  margin-top: 20px;
  margin-left: -110px;
}
.dateNumberinput::-webkit-calendar-picker-indicator {
  display: none;
  margin-top: 20px;
}
.dateNumber div span {
  top: 0.4rem;
  left: 1rem;
}



.dateADRESS {
  width: 600px;
  display: flex;
  margin-left: -130px;
  padding-left: 125px;
}

.dateADRESS input {
  width: 50%;
  position: relative;
  margin-top: 20px;
  margin-left: -65px;
 
}

.dateADRESSinput:last-child {
  width: 100%;
}
.dateADRESSinput::-webkit-calendar-picker-indicator {
  display: none;
}
.dateADRESS div span {
  top: 0.4rem;
  left: 1rem;
  
}




.numberhome {
  display: flex;
  width: 25%;
  position: relative;
  margin-left: 340px;
  margin-top: -73px;
}


.numberhome input:last-child {
  width: 100%;
  margin-top: 20px;
  margin-left: -50px;
 
}
.numberhomeinput::-webkit-calendar-picker-indicator {
  display: none;
  margin-top: 20px;
  
}
.numberhome div span {
  top: 0.4rem;
  left: 1rem;

}



.dateComplement{
  width: 600px;
  display: flex;
  margin-left: -130px;
  padding-left: 125px;
}

.dateComplement input {
  width: 40%;
  position: relative;
  margin-top: 20px;
  margin-left: -90px;
 
}

.dateComplementinput:last-child {
  width: 100%;
}
.dateComplementinput::-webkit-calendar-picker-indicator {
  display: none;
}
.dateComplement div span {
  top: 0.4rem;
  left: 1rem;
  
}



.dateBairro{
  display: flex;
  width: 25%;
  position: relative;
  margin-left: 65px;
  margin-top: -73px;
}


.dateBairro input:last-child {
  width: 100%;
  margin-top: 20px;
  margin-left: -50px;
 
}
.dateBairroinput::-webkit-calendar-picker-indicator {
  display: none;
  margin-top: 20px;
  
}
.dateBairro div span {
  top: 0.4rem;
  left: 1rem;
}



.numberCEP {
  display: flex;
  width: 25%;
  position: relative;
  margin-left: 350px;
  margin-top: -73px;
}


.numberCEP input:last-child {
  
  margin-top: 20px;
  margin-left: -30px;
 
}
.numberCEPinput::-webkit-calendar-picker-indicator {
  display: none;
  margin-top: 20px;
  
}
.numberCEP div span {
  top: 0.4rem;
  left: 1rem;

}


.dateCITY {
  width: 600px;
  display: flex;
  margin-left: -130px;
  padding-left: 125px;
}

.dateCITY input {
  width: 50%;
  position: relative;
  margin-top: 20px;
  margin-left: -50px;
 
}

.dateCITYinput:last-child {
  width: 100%;
}
.dateCITYinput::-webkit-calendar-picker-indicator {
  display: none;
}
.dateCITY div span {
  top: 0.4rem;
  left: 1rem;
  
}




.numberUF {
  display: flex;
  width: 25%;
  position: relative;
  margin-left: 350px;
  margin-top: -73px;
}


.numberUF input:last-child {
  
  margin-top: 20px;
  margin-left: -50px;
 
}
.numberUFinput::-webkit-calendar-picker-indicator {
  display: none;
  margin-top: 20px;
  
}
.numberUF div span {
  top: 0.4rem;
  left: 1rem;

}

.priceCard {
  width: 9rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(231, 231, 10);
 
}
.termsBox {
  display: flex;
  width: 100%;
  height: 1rem;
  align-items: center;
  background-color: #ffe6e9;
}
.termsBox button {
  height: 1rem;
  width: 1rem;
  border: 1px solid #000;
  margin: 0 0.5rem 0 1rem;
}
.termsBox a {
  text-decoration: underline;
}
.formContent button:last-child {
  width: 100%;
  height: 2rem;
  background-color: #ffbf92;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.active {
  border-bottom: 3px solid orange;
}
