.cardsContainer {
  display: flex;
  align-items: center;

  width: 100vw;
  height: 100vh;
}
.cardContainer {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
.dropzoneContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: aqua;
  width: 25rem;
  height: 28rem;
}
.dropzone {
  background-color: #f0f0f0;
  width: 30rem;
  height: 35rem;
  padding: 1rem;
}

.dropzone div:first-child {
  background-color: red;
  width: 100%;
  height: 3rem;
}
.dropzone div {
  background-color: blue;
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0;
}
.dropzone div h1{
font-size: 2ch;
}
.blur {
  color: transparent;
  text-shadow: 0 0 8px #000;
}
.deleteCard{
  display: none;
}
.card2{
  background-color: red;
  width: 25rem;
  height: 28rem;
}