* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.customizeToolbar{
  height: 10px;
  color: black;

}

.subsoul2 {
  margin: 0 auto;
  padding: 0;
  display: flex;
  background-color:rgba(99, 98, 98, 0.034);
  position: relative;
  width: 100%;
  height: 100%;
}